.slide.module-07-32
  .inner-content
    .content-1
      %form{ :method => "post", :name => "form-type-1", :id => 'form-7-32'}
        %p Fill out how active you are in the forms below:
        .block-1.table-01
          .inner
            %dl
              %dt
                %label{:for => "txt-minutes"}
                  %strong Minutes
                  of activity
                  = succeed ":" do
                    %span per day
              %dd.editable
                %span
                  %input#m7-32-txt-minutes{:name => "m7_32_txt_minutes", :type => "text", :value => "", :maxlength => 4}/

            %dl
              %dt
                %label{:for => "txt-week-1"}.slide.module-07-32
  .inner-content
    .content-1
      %form{ :method => "post", :name => "form-type-1", :id => 'form-7-32'}
        %p Fill out how active you are in the forms below:
        .block-1.table-01
          .inner
            %dl
              %dt
                %label{:for => "txt-minutes"}
                  %strong Minutes
                  of activity
                  = succeed ":" do
                    %span per day
              %dd.editable
                %span
                  %input#m7-32-txt-minutes{:name => "m7_32_txt_minutes", :type => "text", :value => "", :maxlength => 4}/

            %dl
              %dt
                %label{:for => "txt-week-1"}
                  %span Days per week
                  you are active
              %dd.editable
                %span
                  %input#m7-32-txt-week-1{:name => "m7_32_txt_week_1", :type => "text", :maxlength => 1}/
            %dl.last
              %dt
                %p #{"#"} of
                -#%span.radio-type
                  -#-#%span.radio-type-1
                %span.wrap
                  %input#rd-1{:name => "m7-32-rd-choice-1", :type => "radio", :value => 'months'}
                %label{:for => "rd-1"} Months
                -#%span.radio-type
                  -#-#%span.radio-type-1
                %span.wrap
                  %input#rd-2{:name => "m7-32-rd-choice-1", :type => "radio", :value => 'years'}
                %label{:for => "rd-2"} Years
                %p you have been active
              %dd.editable
                %span
                  %input#m7-32-txt-months-val-1{:name => "m7_32_txt_months_val_1", :type => "text", :maxlength => 2}/
          .total#mins_total
            \=
            %span.hrs 115 HOURS
            and
            %span.mins 23 MINUTES
            of activity
        .block-1.table-02
          .inner
            %dl
              %dt
                %label{:for => "txt-miles"}
                  %strong Miles
                  of activity
                  = succeed ":" do
                    %span per day
              %dd.editable
                %span
                  %input#m7-32-txt-miles{:name => "m7_32_txt_miles", :type => "text", :value => "", :maxlength => 2}/
            %dl
              %dt
                %label{:for => "txt-week-2"}
                  %span Days per week
                  you are active
              %dd.editable
                %span
                  %input#m7-32-txt-week-2{:name => "m7_32_txt_week_2", :type => "text", :maxlength => 1}/
            %dl.last
              %dt
                %p #{"#"} of
                -#%span.radio-type
                  -#-#%span.radio-type-1
                %span.wrap
                  %input#rd-3{:name => "m7-32-rd-choice-2", :type => "radio", :value => 'months'}
                %label{:for => "rd-3"} Months
                -#%span.radio-type
                  -#-#%span.radio-type-1
                %span.wrap
                  %input#rd-4{:name => "m7-32-rd-choice-2", :type => "radio", :value => 'years'}
                %label{:for => "rd-4"} Years
                %p you have been active
              %dd.editable
                %span
                  %input#m7-32-txt-months-val-2{:name => "m7_32_txt_months_val_2", :type => "text", :maxlength => 2}/
          .total#miles_total
            \=
            %span.miles 520 MILES
            of activity
        .block-1.last.table-03
          .inner
            %dl
              %dt
                %label{:for => "txt-reps"}
                  %strong Reps
                  of your favorite muscle-strengthening exercise (like a push up)
              %dd.editable
                %span
                  %input#m7-32-txt-reps{:name => "m7_32_txt_reps", :type => "text", :value => "", :maxlength => 3}/
            %dl
              %dt
                %label{:for => "txt-sets"}
                  Number of
                  %span sets
              %dd.editable
                %span
                  %input#m7-32-txt-sets{:name => "m7_32_txt_sets", :type => "text", :maxlength => 3}/
            %dl
              %dt
                %label{:for => "txt-week-3"}
                  %span Days per week
                  you are active
              %dd.editable
                %span
                  %input#m7-32-txt-week-3{:name => "m7_32_txt_week_3", :type => "text", :maxlength => 1}/
            %dl.last
              %dt
                %p #{"#"} of
                -#%span.radio-type
                  -#-#%span.radio-type-1
                %span.wrap
                  %input#rd-5{:name => "m7-32-rd-choice-3", :type => "radio", :value => 'months'}
                %label{:for => "rd-5"} Months
                -#%span.radio-type
                  -#-#%span.radio-type-1
                %span.wrap
                  %input#rd-6{:name => "m7-32-rd-choice-3", :type => "radio", :value => 'years'}
                %label{:for => "rd-6"} Years
                %p you have been active
              %dd.editable
                %span
                  %input#m7-32-txt-total-reps-val{:name => "m7_32_txt_total_reps_val", :type => "text", :maxlength => 2}/
          .total#reps_total
            \=
            %span.reps 257 TOTAL REPS
            of muscle-strengthening exercise
        -#%input#m7-32-btn-finish.btn-finish{:name => "btn-finish", :title => "FINISH", :type => "submit", :value => "FINISH"}/


                  %span Days per week
                  you are active
              %dd.editable
                %span
                  %input#m7-32-txt-week-1{:name => "m7_32_txt_week_1", :type => "text", :maxlength => 1}/
            %dl.last
              %dt
                %p #{"#"} of
                -#%span.radio-type
                  -#-#%span.radio-type-1
                %span.wrap
                  %input#rd-1{:name => "m7-32-rd-choice-1", :type => "radio", :value => 'months'}
                %label{:for => "rd-1"} Months
                -#%span.radio-type
                  -#-#%span.radio-type-1
                %span.wrap
                  %input#rd-2{:name => "m7-32-rd-choice-1", :type => "radio", :value => 'years'}
                %label{:for => "rd-2"} Years
                %p you have been active
              %dd.editable
                %span
                  %input#m7-32-txt-months-val-1{:name => "m7_32_txt_months_val_1", :type => "text", :maxlength => 2}/
          .total#mins_total
            \=
            %span.hrs 115 HOURS
            and
            %span.mins 23 MINUTES
            of activity
        .block-1.table-02
          .inner
            %dl
              %dt
                %label{:for => "txt-miles"}
                  %strong Miles
                  of activity
                  = succeed ":" do
                    %span per day
              %dd.editable
                %span
                  %input#m7-32-txt-miles{:name => "m7_32_txt_miles", :type => "text", :value => "", :maxlength => 2}/
            %dl
              %dt
                %label{:for => "txt-week-2"}
                  %span Days per week
                  you are active
              %dd.editable
                %span
                  %input#m7-32-txt-week-2{:name => "m7_32_txt_week_2", :type => "text", :maxlength => 1}/
            %dl.last
              %dt
                %p #{"#"} of
                -#%span.radio-type
                  -#-#%span.radio-type-1
                %span.wrap
                  %input#rd-3{:name => "m7-32-rd-choice-2", :type => "radio", :value => 'months'}
                %label{:for => "rd-3"} Months
                -#%span.radio-type
                  -#-#%span.radio-type-1
                %span.wrap
                  %input#rd-4{:name => "m7-32-rd-choice-2", :type => "radio", :value => 'years'}
                %label{:for => "rd-4"} Years
                %p you have been active
              %dd.editable
                %span
                  %input#m7-32-txt-months-val-2{:name => "m7_32_txt_months_val_2", :type => "text", :maxlength => 2}/
          .total#miles_total
            \=
            %span.miles 520 MILES
            of activity
        .block-1.last.table-03
          .inner
            %dl
              %dt
                %label{:for => "txt-reps"}
                  %strong Reps
                  of your favorite muscle-strengthening exercise (like a push up)
              %dd.editable
                %span
                  %input#m7-32-txt-reps{:name => "m7_32_txt_reps", :type => "text", :value => "", :maxlength => 3}/
            %dl
              %dt
                %label{:for => "txt-sets"}
                  Number of
                  %span sets
              %dd.editable
                %span
                  %input#m7-32-txt-sets{:name => "m7_32_txt_sets", :type => "text", :maxlength => 3}/
            %dl
              %dt
                %label{:for => "txt-week-3"}
                  %span Days per week
                  you are active
              %dd.editable
                %span
                  %input#m7-32-txt-week-3{:name => "m7_32_txt_week_3", :type => "text", :maxlength => 1}/
            %dl.last
              %dt
                %p #{"#"} of
                -#%span.radio-type
                  -#-#%span.radio-type-1
                %span.wrap
                  %input#rd-5{:name => "m7-32-rd-choice-3", :type => "radio", :value => 'months'}
                %label{:for => "rd-5"} Months
                -#%span.radio-type
                  -#-#%span.radio-type-1
                %span.wrap
                  %input#rd-6{:name => "m7-32-rd-choice-3", :type => "radio", :value => 'years'}
                %label{:for => "rd-6"} Years
                %p you have been active
              %dd.editable
                %span
                  %input#m7-32-txt-total-reps-val{:name => "m7_32_txt_total_reps_val", :type => "text", :maxlength => 2}/
          .total#reps_total
            \=
            %span.reps 257 TOTAL REPS
            of muscle-strengthening exercise
        -#%input#m7-32-btn-finish.btn-finish{:name => "btn-finish", :title => "FINISH", :type => "submit", :value => "FINISH"}/


